.header {
  text-align: center;
}
.header__h1 {
  color: #fff;
  font-size: 80px;
  font-family: "Arial", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 7%;
}
.header__h2 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Arial", Arial, sans-serif;
  font-weight: 600;
  margin-top: -2%;
  font-size: 25px;
}

.absolute {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
}
.absolute__img {
  width: 100%;
}
.absolute__opacity {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.768627451);
  z-index: 0;
}

.mailing {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.mailing__content {
  margin: 0 3%;
}
.mailing__content__p {
  text-align: center;
  color: #fff;
  font-family: "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
  margin: 10px;
}

.information {
  text-align: center;
  margin-top: 10%;
}

.button.alternative {
  --color-hover: #2B3044;
  --background: #362A89;
  --hover-back: #6D58FF;
  --hover-front: #F6F8FF;
}
.button.simple {
  --background: #275EFE;
  --background-hover: #1749DB;
}

.button {
  --color: #fff;
  --color-hover: var(--color);
  --background: #00000000;
  --background-hover: var(--background);
  --hover-back: #6D58FF;
  --hover-front: #5C86FF;
  width: 180px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 15px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  color: var(--c, var(--color));
  background: var(--b, var(--background));
  transition: color 0.2s linear var(--c-d, 0.2s), background 0.3s linear var(--b-d, 0.2s);
}
.button:not(.simple):before, .button:not(.simple):after {
  content: "";
  position: absolute;
  background: var(--pb, var(--hover-back));
  top: 0;
  left: 0;
  right: 0;
  height: 200%;
  border-radius: var(--br, 40%);
  transform: translateY(var(--y, 50%));
  transition: transform var(--d, 0.4s) ease-in var(--d-d, 0s), border-radius 0.5s ease var(--br-d, 0.08s);
}
.button:not(.simple):after {
  --pb: var(--hover-front);
  --d: .44s;
}
.button div {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
}
.button div span {
  display: block;
  backface-visibility: hidden;
  transform: translateZ(0);
  animation: var(--name, none) 0.7s linear forwards 0.18s;
}
.button.in:not(.out) {
  --c: var(--color-hover);
  --b: var(--background-hover);
}
.button.in:not(.out):before, .button.in:not(.out):after {
  --y: 0;
  --br: 5%;
}
.button.in:not(.out):after {
  --br: 10%;
  --d-d: .02s;
}
.button.in.out:before {
  --d-d: .06s;
}

.information__button {
  width: 350px;
  height: 60px;
  font-size: 18px;
}

html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

p, button, h1, h2, div, img, section, header {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.whatsapp__hidden, .vkgroup__hidden, .information__hidden {
  width: 0px;
  height: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgba(0, 0, 0, 0.9);
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 1;
  overflow: hidden;
  transition: 0.7s;
}
.whatsapp__hidden_active, .vkgroup__hidden_active, .information__hidden_active {
  width: 500px;
  height: 600px;
  transition: 0.7s;
}
.whatsapp__hidden__form, .whatsapp__hidden__content, .vkgroup__hidden__form, .vkgroup__hidden__content, .information__hidden__form, .information__hidden__content {
  margin-top: 50px;
  font-family: "Arial", Arial, sans-serif;
  text-align: center;
}
.whatsapp__hidden__form li, .whatsapp__hidden__content li, .vkgroup__hidden__form li, .vkgroup__hidden__content li, .information__hidden__form li, .information__hidden__content li {
  text-align: left;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  line-height: 30px;
}
.whatsapp__hidden__form li a, .whatsapp__hidden__content li a, .vkgroup__hidden__form li a, .vkgroup__hidden__content li a, .information__hidden__form li a, .information__hidden__content li a {
  outline: none;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
}
.whatsapp__hidden__form__legend, .whatsapp__hidden__form__header, .whatsapp__hidden__content__legend, .whatsapp__hidden__content__header, .vkgroup__hidden__form__legend, .vkgroup__hidden__form__header, .vkgroup__hidden__content__legend, .vkgroup__hidden__content__header, .information__hidden__form__legend, .information__hidden__form__header, .information__hidden__content__legend, .information__hidden__content__header {
  color: white;
  font-size: 37px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-family: "Arial", Arial, sans-serif;
}
.whatsapp__hidden__form__header, .whatsapp__hidden__content__header, .vkgroup__hidden__form__header, .vkgroup__hidden__content__header, .information__hidden__form__header, .information__hidden__content__header {
  font-size: 28px;
}
.whatsapp__hidden__form__p, .whatsapp__hidden__content__p, .vkgroup__hidden__form__p, .vkgroup__hidden__content__p, .information__hidden__form__p, .information__hidden__content__p {
  color: white;
  font-size: 20px;
}
.whatsapp__hidden__form__count, .whatsapp__hidden__content__count, .vkgroup__hidden__form__count, .vkgroup__hidden__content__count, .information__hidden__form__count, .information__hidden__content__count {
  display: flex;
  justify-content: center;
}
.whatsapp__hidden__form__count_up, .whatsapp__hidden__form__count_down, .whatsapp__hidden__content__count_up, .whatsapp__hidden__content__count_down, .vkgroup__hidden__form__count_up, .vkgroup__hidden__form__count_down, .vkgroup__hidden__content__count_up, .vkgroup__hidden__content__count_down, .information__hidden__form__count_up, .information__hidden__form__count_down, .information__hidden__content__count_up, .information__hidden__content__count_down {
  color: #fff;
  margin: 0px 15px;
  font-size: 28px;
}
.whatsapp__hidden__form__count_up:hover, .whatsapp__hidden__form__count_down:hover, .whatsapp__hidden__content__count_up:hover, .whatsapp__hidden__content__count_down:hover, .vkgroup__hidden__form__count_up:hover, .vkgroup__hidden__form__count_down:hover, .vkgroup__hidden__content__count_up:hover, .vkgroup__hidden__content__count_down:hover, .information__hidden__form__count_up:hover, .information__hidden__form__count_down:hover, .information__hidden__content__count_up:hover, .information__hidden__content__count_down:hover {
  cursor: pointer;
}
.whatsapp__hidden__form__count_up, .whatsapp__hidden__content__count_up, .vkgroup__hidden__form__count_up, .vkgroup__hidden__content__count_up, .information__hidden__form__count_up, .information__hidden__content__count_up {
  transform: translateY(22px);
}
.whatsapp__hidden__form__count_down, .whatsapp__hidden__content__count_down, .vkgroup__hidden__form__count_down, .vkgroup__hidden__content__count_down, .information__hidden__form__count_down, .information__hidden__content__count_down {
  transform: rotate(180deg) translateY(23px);
}
.whatsapp__hidden__form__count_count, .whatsapp__hidden__content__count_count, .vkgroup__hidden__form__count_count, .vkgroup__hidden__content__count_count, .information__hidden__form__count_count, .information__hidden__content__count_count {
  font-size: 22px;
  color: #fff;
}
.whatsapp__hidden__form .margin_top, .whatsapp__hidden__content .margin_top, .vkgroup__hidden__form .margin_top, .vkgroup__hidden__content .margin_top, .information__hidden__form .margin_top, .information__hidden__content .margin_top {
  margin-top: 50px;
}
.whatsapp__hidden__form .margin_bottom, .whatsapp__hidden__content .margin_bottom, .vkgroup__hidden__form .margin_bottom, .vkgroup__hidden__content .margin_bottom, .information__hidden__form .margin_bottom, .information__hidden__content .margin_bottom {
  margin-bottom: -20px;
}
.whatsapp__hidden__form__textarea, .whatsapp__hidden__content__textarea, .vkgroup__hidden__form__textarea, .vkgroup__hidden__content__textarea, .information__hidden__form__textarea, .information__hidden__content__textarea {
  width: 360px;
  height: 50px;
  margin: 0 auto;
  max-width: 360px;
  min-width: 360px;
  min-height: 50px;
  max-height: 210px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #fff;
  color: #fff;
  border-radius: 4px;
  font-size: 17px;
  overflow: hidden;
}
.whatsapp__hidden__form__pradio, .whatsapp__hidden__content__pradio, .vkgroup__hidden__form__pradio, .vkgroup__hidden__content__pradio, .information__hidden__form__pradio, .information__hidden__content__pradio {
  font-size: 20px;
  color: white;
  display: inline-block;
  margin-top: -10px;
}
.whatsapp__hidden__form .error, .whatsapp__hidden__content .error, .vkgroup__hidden__form .error, .vkgroup__hidden__content .error, .information__hidden__form .error, .information__hidden__content .error {
  color: red;
}
.whatsapp__hidden__form .success, .whatsapp__hidden__content .success, .vkgroup__hidden__form .success, .vkgroup__hidden__content .success, .information__hidden__form .success, .information__hidden__content .success {
  color: green;
}
.whatsapp__hidden__form__button, .whatsapp__hidden__content__button, .vkgroup__hidden__form__button, .vkgroup__hidden__content__button, .information__hidden__form__button, .information__hidden__content__button {
  width: 200px;
  height: 55px;
  font-family: "Arial", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  border-radius: 6px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  border: 2px solid white;
  transition: 0.25s;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-100px);
}
.whatsapp__hidden__form__button:hover, .whatsapp__hidden__content__button:hover, .vkgroup__hidden__form__button:hover, .vkgroup__hidden__content__button:hover, .information__hidden__form__button:hover, .information__hidden__content__button:hover {
  background-color: #fff;
  color: #000;
  width: 195px;
  height: 52px;
  cursor: pointer;
  transition: 0.25s;
}

.close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.3s;
}
.close__span {
  margin-top: 8px;
  width: 40px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: 0.7s;
}
.close__span_1 {
  transform: rotate(45deg) translate(8px, 8px);
}
.close__span_2 {
  transform: rotate(135deg);
}
.close:hover {
  transform: rotate(180deg);
  transition: 0.3s;
  cursor: pointer;
}
.close:hover .close__span {
  animation: close_animation linear 1.5s infinite;
}

@keyframes close_animation {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #fff700;
  }
  100% {
    background-color: #fff;
  }
}/*# sourceMappingURL=main.css.map */